.item {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(236, 236, 236);
  padding: 15px;
  border-radius: 5px;

  box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 1);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}
.status {
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 50%;
}

.avatar {
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}

.name {
  text-align: center;
  font-size: 22px;
  width: 80px;
}
