.feedbackBtnList {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
}

.feedbackBtnListItem {
  padding: 10px;
}

.feedbackBtn {
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 1);
}

.feedbackBtn:active {
  background-color: steelblue;
  color: #fff;

  transition: all 50ms linear;
}
